.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/about/overview', class=isActive('/about/overview')) Overview
      li: a(href='/about/nabco', class=isActive('/about/nabco')) NABCO
      li: a(href='/about/cosmedicine', class=isActive('/about/cosmedicine')) Cosmedicine
      li: a(href='/about/executive-management', class=isActive('/about/executive-management')) Executive Management
      li: a(href='/about/ceo-memo', class=isActive('/about/ceo-memo')) Memo From The CEO
