.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/resources/news', class=isActive('/resource/news')) Company News
      li: a(href='#', class=isActive('/resources/stock-information')) Stock Information
      li: a(href='#', class=isActive('/resource/sec-filings')) SEC Filings
      li: a(href='#', class=isActive('/resources/interactive-data')) Interactive Data
      li: a(href='/resources/faq', class=isActive('/resources/faq')) Interactive Data
