.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/resources/press', class=isActive('/resources/press')) Press Releases
      li: a(href='/resources/stock-information', class=isActive('/resources/stock-information')) Stock Information
      li: a(href='/resources/sec-filings', class=isActive('/resources/sec-filings')) SEC Filings
      li: a(href='/resources/interactive-data', class=isActive('/resources/interactive-data')) Interactive Data
      li: a(href='/resources/faq', class=isActive('/resources/faq')) Investor FAQ
