.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/style', class=isActive('/style')) Style
      li: a(href='#', class=isActive('#')) Subnav
      li: a(href='#', class=isActive('#')) Subnav
      li: a(href='#', class=isActive('#')) Subnav
      li: a(href='#', class=isActive('#')) Subnav
      li: a(href='#', class=isActive('#')) Subnav
