#header.header
  .l-constrained

    .header--logo
      a(href='/')
        img(src=assets.url('/images/logo.png'))

    nav.header--menu

      ul.header--social
        li
          a(href='https://www.twitter.com', target='_blank')
            +icon("49d")
        li
          a(href='https://www.facebook.com.com', target='_blank')
            +icon("499")
        li
          a(href='mailto:invrel@signaturegroupholdings.com')
            +icon('48f')

      ul.header--nav
        li
          a(href='/about/overview', class=isActive('/about/overview')+isActive('/about/nabco')) About
        li
          a(href='/acquisitions/acquisitions', class=isActive('/acquisitions/acquisitions')+isActive('/opportunities/financing')) acquisitions
        li
          a(href='/resources/press', class=isActive('/resources/press')+isActive('/resources/stock-information')+isActive('/resources/sec-filings')+isActive('/resources/interactive-data')+isActive('/resources/faq')) Resources
        li
          a(href='/governance/board', class=isActive('/governance/board')+isActive('/governance/documents')+isActive('/governance/composition')) Governance
        li
          a(href="/news", class=isActive('/news')+isActive('news/article')) News
